<h2>Comments</h2>

<div id='comments'>
  <% @comments.each do |comment| %>
    <div class='comment'>
      <%= simple_format comment.body %>
    </div>
  <% end %>
</div>

<%= link_to "New Comment", [:new, @commentable, :comment] %>

<div id='bottom_link'>
  <%= link_to "go back", root_path %>
</div>

