/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree .
 */

@import "bootstrap";

section.form {
  clear: left;
  width: 100%;
  margin-bottom: 5pt;
}

button {
  float: left;
  clear: left;
}

input[type=submit] {
  margin-top: 20pt;
}

aside {
  font-style: italic;
  font-size: smaller;
  color: gray;
  margin-left: 0pt;
  float: left;
  clear: left;
}

#devise_links {
  display: block;
  float: left;
  clear: left;
  margin: {
    top: 1em;
  }
}

#bottom_link {
  float: left;
  clear: left;
}

#details {
  font-style: italic;
  color: gray;
}

#image_display {
  padding: {
    top: 5pt;
    bottom: 5pt;
  }
  margin: {
    top: 8pt;
    bottom: 8pt;
  }
  max-width: 800pt;
}

.form-wrapper {
  display: block;
  width: 100%;
  float: left;
  margin: {
    right: auto;
    bottom: 10pt;
  }
  select {
    float: left;
  }
}

.new_or_edit_link {
  float: right;
  clear: both;
  margin-bottom: 10pt;
}
